---
import { projects } from "../../data/projects";
import HorizontalScrollGallery from "../parallax/HorizontalScrollGallery.jsx";
---

<div id="projects" class="rounded-t-[3rem]">
  <HorizontalScrollGallery client:load projects={projects} />
</div>
